h2 {
  text-align: center;
}

mat-card {
  max-width: 500px;
  height: 750px;
  margin: 2em auto;
  text-align: center;
  font-size: 15px;
}

mat-form-field {
  display: block;
  padding-bottom: 20px;
}

button {
  display: flex;
  margin: auto;
}

