<router-outlet></router-outlet>
<div class="container">
<mat-card class="card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>Tori Sushi</mat-card-title>
    <mat-card-subtitle>with avocado</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
</mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
</div>
<div class="container">
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
  <mat-card class="card">
    <mat-card-header>
      <div mat-card-avatar class="header-image"></div>
      <mat-card-title>Tori Sushi</mat-card-title>
      <mat-card-subtitle>with avocado</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
  </mat-card>
</div>
