.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1300px;
}

.card {
  margin-top: 3.5%;
  max-width: 500px;
  max-height: 500px;
  text-align: center;
  margin-right: 50px;
}

.header-image {
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/10/2d/f6/bd/japanika.jpg');
  background-size: cover;
}
