h1 {
  text-align: center;
  position: center;
}

button {
  font-size: 16px;
  width: 140px;
  margin-bottom: 1.5em;
}
.button {
  text-align: center;
}

.customer {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.customer span {
  background:#fff;
  padding:0 10px;
}

mat-form-field {
  position: relative;
  max-width: 400px;
  margin: 1.5em auto;
  display: block;
}

::ng-deep.snack {
  background-color: #f44336;
  color: white;
}

::ng-deep.mat-simple-snackbar {
  justify-content: center !important;
}
