<mat-card class="productList">
  <div class="filterContainer">
    <mat-form-field>
      <mat-label> Choose Area </mat-label>
      <mat-select [(ngModel)]="selectedValue" (ngModelChange)="onArea()">
        <mat-option *ngFor="let area of areas" [value]="area.value">
          {{area.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="productCards">
    <mat-card class="card" *ngFor="let product of products">

      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title> {{product.productName}} </mat-card-title>
        <mat-card-subtitle> From <b>{{product.institution}}</b> </mat-card-subtitle>
      </mat-card-header>

      <img mat-card-image [src]="product.image" alt="Product image">

      <mat-card-content class="price">
        <div class="newPrice"><b>  {{product.price}}₪ </b></div>
        <div class="oldPrice"> {{product.startingPrice}}₪ </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button><mat-icon>add_shopping_cart</mat-icon> Add To Cart </button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>

