mat-card {
  margin-left: 100px;
  width: 500px;
  min-height: 800px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;

}

mat-card-title {
  text-align: center;
}

.title {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.totalPrice {
  position: sticky;
  position: -webkit-sticky;
  bottom: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  margin-top: 20px;
  margin-bottom: 10px;
}
