<mat-card>

  <ng-template #empty>
    <h1> Your Cart Is Empty </h1>
  </ng-template>

  <div *ngIf="cartItems.length > 0; else empty"> <h1>Your Chosen Products</h1>
    <app-cart-item *ngFor="let item of cartItems"
                   [cartItem] = "item"
                   (productRemoved)="removeProduct($event)">
    </app-cart-item>
  </div>

  <div class="totalPrice" *ngIf="cartItems.length">
    <button mat-raised-button color="accent" role="button" *ngIf="cartItems.length" [disabled]="cartItems.length < 1" (click)="checkout()">
      <mat-icon>shopping_cart</mat-icon> Checkout {{ calcTotal()-1 }} Item{{ cartItems.length > 1 ? 's' : '' }}</button><br/>
    <h2 class="totalPrice"> Total: {{calcTotalPrice()}} </h2>
  </div>

</mat-card>


