mat-card {
  margin-left: 60px;
  width: 415px;
  position: sticky;
  top: 71px;
}

mat-card-title {
  text-align: center;
}

.title {
  padding-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.totalPrice {
  position: relative;
  position: -webkit-sticky;
  bottom: 0;
  text-align: center;
}

h1 {
  text-align: center;
}

button {
  margin-top: 20px;
  margin-bottom: 10px;
}
