<mat-card>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <h2> Registration form </h2>

    <mat-form-field>
      <input matInput placeholder="Name" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }" required>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Email Address" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" required>
    </mat-form-field>

    <mat-form-field class="form-element">
      <input type="password" matInput placeholder="Password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" required>
     <mat-hint> At least 8 characters in length, lowercase letters, uppercase letters and numbers </mat-hint>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Telephone </mat-label>
      <span matPrefix> +972 &nbsp; </span>
      <input type="tel" matInput placeholder="501234567" formControlName="phone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" required>
      <mat-icon matSuffix>mode_edit</mat-icon>
    </mat-form-field>

    <mat-form-field>
      <mat-label> Choose Area </mat-label>
      <mat-select formControlName="area" [ngClass]="{ 'is-invalid': submitted && f.area.errors }" required>
        <mat-option *ngFor="let area of areas" [value]="area.value">
          {{area.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field><br/><br/><br/>

    <button mat-raised-button color="primary" type="submit" class="button" [disabled]="!formGroup.valid"> Register </button>
  </form>
</mat-card>
