mat-sidenav {
  position: absolute;
  width: 300px;
  background-color: white;
  border-color: #e6f5f2;
}
mat-sidenav-content {
  background-color: #e6f5f2;
}
mat-toolbar {
  background-color: white;
  height: 70px;
  position: sticky;
  top:0;
  z-index: 5;
}
.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.menu {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.loginBtn {
  position: absolute;
  right: 5%;
}
.logoutBtn {
  position: absolute;
  right: 10%;
}
.hamBtn {
  position: absolute;
  left: 2%;
  font-size: 40px;
}
.cartBtn {
  position: absolute;
  right: 16%;
}
h2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
