table {
  width: 100%;
}
td{
  width: 40%;
  text-align: center;
}
.input {
  width: 50px;
}
h1 {
  text-align: center;
}
h2 {
  text-align: center;
}
.proceed {
  text-align: center;
}
mat-card-header {
  text-align: center;
}
mat-card {
  text-align: center;
  position: sticky;
  bottom: 0;
}

