table {
  width: 100%;
}
.input {
  width: 50px;
}
th {
  text-align: center;
  font-size: 18px;
  width: 33%;
  margin-right: 5px;
}

th.mat-header-cell {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-right: 0;
  padding-left: 0;
  text-align: center;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-left: 0;
  text-align: center;
  padding-right: 0;
}
mat-card {
  text-align: center;
  position: sticky;
  bottom: 0;
}

td.mat-cell{
  border-bottom-style: none;
}

