.container {
  display: flex;
  min-width: 100%;
}
.menuBtn {
  display: block;
  margin: 20px auto;
  text-align: center;
}
.productList {
  width: 75%;
}
.shoppingCart {
  position: sticky;
  top: 71px;
  width: 30%;
  margin-left: 2%;
  height: 100%;
}
mat-card-content {
  width: 100%;
}
