<mat-sidenav-container class="example-container" (backdropClick)="close('backdrop')">

  <mat-sidenav #sidenav (keydown.escape)="close('escape')" disableClose>
    <mat-nav-list>
      <div class="menu">
        <a [routerLink]="['']"><button (click)="sidenav.close()" mat-icon-button color="primary" class="menuBtn1"><mat-icon>home</mat-icon></button></a><br/>
        <button button mat-stroked-button (click)="openDialog()" (click)="sidenav.close()" color="primary" class="menuBtn1"> Log In </button><br/>
        <a [routerLink]="['registrationPage']"><button mat-stroked-button (click)="sidenav.close()" color="primary" class="menuBtn1"> Sign Up </button></a><br/>
        <a [routerLink]="['foodlistPage']"><button mat-stroked-button (click)="sidenav.close()" color="primary" class="menuBtn1"> Food List </button></a>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <h2 class="name"><a href="http://localhost:4200/"> Don't!Waste </a></h2>
    <mat-toolbar class="example-toolbar">
      <button mat-icon-button (click)="sidenav.open()"><mat-icon>menu</mat-icon></button>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>

</mat-sidenav-container>
