<div class="wraperZhe">

  <img class="banner"
         src="https://images-na.ssl-images-amazon.com/images/S/sgp-catalog-images/region_US/zdqt5-2GHAJ6F6EJC-Full-Image_GalleryBackground-en-US-1518405554811._RI_.jpg">

  <h1> Hot Dishes </h1>
  <div class="container">
    <mat-card class="card" *ngFor="let product of products">

      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title> {{product.productName}} </mat-card-title>
        <mat-card-subtitle> From <b>{{product.institution}}</b> </mat-card-subtitle>
      </mat-card-header>

      <img class="productImg" mat-card-image [src]="product.image" alt="Product image">

      <mat-card-content class="price">
        <div class="newPrice"><b>  {{product.price}}₪ </b></div>
        <div class="oldPrice"> {{product.startingPrice}}₪ </div>
      </mat-card-content>

      <mat-card-actions>
        <button mat-raised-button> <mat-icon>add_shopping_cart</mat-icon> Add To Cart </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <a [routerLink]="['mainProductPage']"><button mat-raised-button color="primary"> Check All Dishes... </button></a>
</div>
