<div class="wraperZhe">

  <div class="banner">
    <img src="https://www.freefromfoodawards.co.uk/images/2020/fffa-1260x300-banner-20.jpg">
  </div>
  <h1> Hot Dishes </h1>
  <div class="container">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
  </div>
  <div class="container">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
  </div>
  <div class="container">
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
    <mat-card class="card">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title>Tori Sushi</mat-card-title>
        <mat-card-subtitle>with avocado</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://www.diabetes.org/sites/default/files/styles/crop_large/public/2019-06/Healthy%20Food%20Made%20Easy%20-min.jpg">
    </mat-card>
  </div>

  <a [routerLink]="['foodlistPage']"><button mat-raised-button color="primary"> Check All Dishes... </button></a>
</div>
