<div class="wraperZhe">

  <div class="banner">
    <img src="https://www.freefromfoodawards.co.uk/images/2020/fffa-1260x300-banner-20.jpg">
  </div>
  <h1> Hot Dishes </h1>
  <div class="container">
    <mat-card class="card" *ngFor="let product of products">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title> {{product.productName}} </mat-card-title>
        <mat-card-subtitle> From <b>{{product.institution}}</b> </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content> Starting price: {{product.startingPrice}} </mat-card-content><br/>
      <mat-card-content> New price: {{product.price}} </mat-card-content>
      <mat-card-content> Area: {{product.area}}</mat-card-content>
      <mat-card-content> Description: {{product.description}} </mat-card-content>
    </mat-card>
  </div>
  <a [routerLink]="['foodlistPage']"><button mat-raised-button color="primary"> Check All Dishes... </button></a>
</div>
