.banner{
  width: 1430px;
  height: 300px;
  margin-bottom: 70px;
  object-fit: cover;
}
.wraperZhe {
  margin: 1.5% auto;
  text-align: center;
}
h1 {
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  max-width: 1470px;
}

.card {
  width: 338px;
  margin: 2% 11px 2% 11px;
  text-align: center;
}

.header-image {
  background-image: url('https://media-cdn.tripadvisor.com/media/photo-s/10/2d/f6/bd/japanika.jpg');
  background-size: cover;
  width: 80px;
  height: 80px;
}

mat-form-field {
  font-size: 16px;
  text-align: center;
}

mat-card-header {
  text-align: center;
}
mat-card-title {
  text-align: center;
}
mat-card-subtitle {
  text-align: center;
}
.productImg {
  height: 250px;
}
.price {
  display: flex;
  font-size: 16px;
  margin-bottom: 40px;
}
.newPrice {
  left: 51%;
  position: absolute;
}
.oldPrice {
  position: absolute;
  right: 51%;
  text-decoration: line-through;
}
