<router-outlet></router-outlet>
<app-product></app-product>
  <div class="container">
    <mat-card class="card" *ngFor="let product of products">
      <mat-card-header>
        <mat-card-title> {{product.productName}} </mat-card-title>
        <mat-card-subtitle> Description: {{product.description}} </mat-card-subtitle>
        <mat-card-content> Starting price: {{product.startingPrice}} </mat-card-content><br/>
        <mat-card-content> New price: {{product.price}} </mat-card-content>
      </mat-card-header>
    </mat-card>
  </div>





